In [1]:
import pandas as pd
import numpy as np

In [2]:
import ast
import operator as op

# Supported operators
operators = {
    ast.Add: op.add,
    ast.Sub: op.sub,
    ast.Mult: op.mul,
    ast.Div: op.truediv,
    ast.Pow: op.pow,
    ast.BitXor: op.xor,
    ast.USub: op.neg
}

def eval_expr(expr):
    """
    Evaluate an arithmetic expression.
    
    Args:
    expr (str): A string containing the arithmetic expression.
    
    Returns:
    float: The result of the evaluated expression.
    """
    def eval_(node):
        if isinstance(node, ast.Num):  # <number>
            return node.n
        elif isinstance(node, ast.BinOp):  # <left> <operator> <right>
            left = eval_(node.left)
            right = eval_(node.right)
            return operators[type(node.op)](left, right)
        elif isinstance(node, ast.UnaryOp):  # <operator> <operand> e.g., -1
            operand = eval_(node.operand)
            return operators[type(node.op)](operand)
        else:
            raise TypeError(node)
    
    node = ast.parse(expr, mode='eval').body
    return eval_(node)

# Example usage
x = "5 + 3 * 2 - 1 / 2"
result = eval_expr(x)
print(result)  # Output: 10.5

10.5

In [7]:
# ANGELO NG PRICE LIST
items = [
    "Aloe Vera capsule, 16800, 6PV",
    "herbal toothpaste, 3500, 1.5PV",
    "Yile Sugar tablets, 53000, 19PV",
    "Bamboo Patch, 14000, 5PV",
    "Vigor Cream, 30800, 11PV",
    "Phoenix-care, 42000, 15PV",
    "White tea toothpaste, 4200, 1.5PV",
    "SeaBuckthorn oil, 42000, 15PV",
    "Seabuckthorn Cordyceps, 29400, 11PV",
    "Protein powder, 49000, 17.5PV",
    "Seabuckthorn Sanitary Napkins, 125000, 6.5PV",
    "Calsium Solid Drink, 32000, 12.5PV",
    "H2O Hydrogen Rich Water Cup,265000, 90PV",
    "Balance Cream,30800,11PV",
    "Energy Spray,30800,11PV"
]

In [8]:
new = []

for item in items:
    item = item.split(",")
    item = [i.strip() for i in item]
    item[2] = float(item[2].split("PV")[0])
    print(item)

['Aloe Vera capsule', '16800', 6.0]
['herbal toothpaste', '3500', 1.5]
['Yile Sugar tablets', '53000', 19.0]
['Bamboo Patch', '14000', 5.0]
['Vigor Cream', '30800', 11.0]
['Phoenix-care', '42000', 15.0]
['White tea toothpaste', '4200', 1.5]
['SeaBuckthorn oil', '42000', 15.0]
['Seabuckthorn Cordyceps', '29400', 11.0]
['Protein powder', '49000', 17.5]
['Seabuckthorn Sanitary Napkins', '125000', 6.5]
['Calsium Solid Drink', '32000', 12.5]
['H2O Hydrogen Rich Water Cup', '265000', 90.0]
['Balance Cream', '30800', 11.0]
['Energy Spray', '30800', 11.0]

In [9]:
products = []
for item in items:
    item = item.split(",")
    item = [i.strip() for i in item]
    item[2] = float(item[2].split("PV")[0])      
    products.append(item)

In [10]:
products = pd.DataFrame(products, columns=['product_name', 'price(naira)','PV'])
products['price(naira)'] = products['price(naira)'].astype('float')

In [11]:
products

                     product_name  price(naira)    PV
0               Aloe Vera capsule       16800.0   6.0
1               herbal toothpaste        3500.0   1.5
2              Yile Sugar tablets       53000.0  19.0
3                    Bamboo Patch       14000.0   5.0
4                     Vigor Cream       30800.0  11.0
5                    Phoenix-care       42000.0  15.0
6            White tea toothpaste        4200.0   1.5
7                SeaBuckthorn oil       42000.0  15.0
8          Seabuckthorn Cordyceps       29400.0  11.0
9                  Protein powder       49000.0  17.5
10  Seabuckthorn Sanitary Napkins      125000.0   6.5
11            Calsium Solid Drink       32000.0  12.5
12    H2O Hydrogen Rich Water Cup      265000.0  90.0
13                  Balance Cream       30800.0  11.0
14                   Energy Spray       30800.0  11.0

In [20]:
# sales products
sale_product = products.iloc[:]

In [24]:
sale_product[sale_product['product_name'] == 'Seabuckthorn Sanitary Napkins']['price(naira)'] = 2500
sale_product[sale_product['product_name'] == 'Seabuckthorn Sanitary Napkins']['PV'] = 0

/tmp/ipykernel_111086/1889816440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_product[sale_product['product_name'] == 'Seabuckthorn Sanitary Napkins']['price(naira)'] = 2500
/tmp/ipykernel_111086/1889816440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sale_product[sale_product['product_name'] == 'Seabuckthorn Sanitary Napkins']['PV'] = 0

In [25]:
sale_product

                     product_name  price(naira)    PV
0               Aloe Vera capsule       16800.0   6.0
1               herbal toothpaste        3500.0   1.5
2              Yile Sugar tablets       53000.0  19.0
3                    Bamboo Patch       14000.0   5.0
4                     Vigor Cream       30800.0  11.0
5                    Phoenix-care       42000.0  15.0
6            White tea toothpaste        4200.0   1.5
7                SeaBuckthorn oil       42000.0  15.0
8          Seabuckthorn Cordyceps       29400.0  11.0
9                  Protein powder       49000.0  17.5
10  Seabuckthorn Sanitary Napkins      125000.0   6.5
11            Calsium Solid Drink       32000.0  12.5
12    H2O Hydrogen Rich Water Cup      265000.0  90.0
13                  Balance Cream       30800.0  11.0
14                   Energy Spray       30800.0  11.0

In [26]:
# create a table, product_name, price(naira), PV, qty(bought)
customer_sales = sale_product.iloc[:]
customer_sales[['qty', 'total_sales', 'total_pv']] = 0
customer_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  15 non-null     object
 1   price(naira)  15 non-null     float64
 2   PV            15 non-null     float64
 3   qty           15 non-null     int64
 4   total_sales   15 non-null     int64
 5   total_pv      15 non-null     int64
dtypes: float64(2), int64(3), object(1)
memory usage: 852.0+ bytes

In [11]:
def selling(row):
    row['qty'] = float(input(f"Quantity of {row['product_name']}:  "))
    row['total_sales'] = row['price(naira)'] * row['qty']
    row['total_pv'] = row['PV'] * row['qty']
    return row

In [12]:
customer_sales = customer_sales.apply(selling, axis=1)

Quantity of Aloe Vera capsule:  0
Quantity of herbal toothpaste:  0
Quantity of Yile Sugar tablets:  0
Quantity of Bamboo Patch:  1
Quantity of Vigor Cream:  0
Quantity of Phoenix-care:  0
Quantity of White tea toothpaste:  4
Quantity of SeaBuckthorn oil:  0
Quantity of Seabuckthorn Cordyceps:  0
Quantity of Protein powder:  0
Quantity of Seabuckthorn Sanitary Napkins:  3
Quantity of Calsium Solid Drink:  0
Quantity of H2O Hydrogen Rich Water Cup:  0
Quantity of Balance Cream:  0
Quantity of Energy Spray:  0

In [87]:
customer_sales.describe()

        price(naira)         PV   qty    total_sales    total_pv
count      15.000000  15.000000  15.0      15.000000   15.000000
mean    44753.333333  15.566667   2.0   89506.666667   31.133333
std     62647.823662  21.264379   0.0  125295.647323   42.528758
min      3500.000000   1.500000   2.0    7000.000000    3.000000
25%     22400.000000   6.250000   2.0   44800.000000   12.500000
50%     30800.000000  11.000000   2.0   61600.000000   22.000000
75%     42000.000000  15.000000   2.0   84000.000000   30.000000
max    265000.000000  90.000000   2.0  530000.000000  180.000000

In [ ]:
rem  = 13097200

In [ ]:
white = 3500 * 3131
print(white)
herb = 4200 * 508
print(herb)
print(rem - (white + herb))

In [147]:
# Define the capital and costs
capital = 12580200
herbal_toothpaste_cost = 3500
white_tea_toothpaste_cost = 4200

# Calculate the minimum spending on White Tea toothpaste (70% of capital)
min_white_tea_spending = 0.8 * capital

# Calculate the maximum units of each type of toothpaste
max_white_tea_units = capital // white_tea_toothpaste_cost
max_herbal_units = capital // herbal_toothpaste_cost

# Initialize variables to store the best combination
best_white_tea_units = 0
best_herbal_units = 0
best_total_units = 0

# Iterate to find the best combination
for white_tea_units in range(max_white_tea_units + 1):
    # Calculate the total cost if we buy white_tea_units of White Tea toothpaste
    white_tea_cost = white_tea_units * white_tea_toothpaste_cost
    
    # Check if we meet the minimum spending requirement on White Tea toothpaste
    if white_tea_cost >= min_white_tea_spending:
        # Calculate the remaining capital
        remaining_capital = capital - white_tea_cost
        
        # Calculate the number of Herbal toothpaste we can buy with the remaining capital
        herbal_units = remaining_capital // herbal_toothpaste_cost
        
        # Calculate the total number of units
        total_units = white_tea_units + herbal_units
        
        # Update the best combination if this one is better
        if total_units > best_total_units:
            best_white_tea_units = white_tea_units
            best_herbal_units = herbal_units
            best_total_units = total_units

# Output the best combination
print(f"Best combination")
print(f"White Tea toothpaste units: {best_white_tea_units}pcs =====> {best_white_tea_units * 4200} Naira")
print(f"Herbal toothpaste units: {best_herbal_units}pcs ====> {best_herbal_units * 3500} Naira")
print(f"Total units: {best_total_units}")
print(f"Total cost: {best_white_tea_units * white_tea_toothpaste_cost + best_herbal_units * herbal_toothpaste_cost}")
print(f"capital: {capital}")

Best combination
White Tea toothpaste units: 2397pcs =====> 10067400 Naira
Herbal toothpaste units: 717pcs ====> 2509500 Naira
Total units: 3114
Total cost: 12576900
capital: 12580200

White Tea toothpaste units: 2397pcs : 10067400 Naira

Herbal toothpaste units: 717pcs : 2509500 Naira

TOTAL : 12576900
    
White Tea toothpaste units: 2495pcs =====> 10479000 Naira

Herbal toothpaste units: 748pcs ====> 2618000 Naira

Total cost: 13097000 Naira

In [34]:
re = []
sum_re = 0
for nom in products['product_name']:
    qty_return = int(input(f"{nom}: "))
    if qty_return > 0:
        price = products.loc[products['product_name'] == nom, 'price(naira)'].values[0]
        total = qty_return * int(price)
        sum_re += total
        re.append(f'{qty_return} {nom}: #{price}  ==> {total}')
print('Total', sum_re)

Aloe Vera capsule: 5
herbal toothpaste: 0
Yile Sugar tablets: 0
Bamboo Patch: 10
Vigor Cream: 2
Phoenix-care: 0
White tea toothpaste: 1500
SeaBuckthorn oil: 5
Seabuckthorn Cordyceps: 5
Protein powder: 0
Seabuckthorn Sanitary Napkins: 1
Calsium Solid Drink: 3
H2O Hydrogen Rich Water Cup: 2
Balance Cream: 2
Energy Spray: 2
Total 7816800

In [35]:
re

['5 Aloe Vera capsule: #16800.0  ==> 84000',
 '10 Bamboo Patch: #14000.0  ==> 140000',
 '2 Vigor Cream: #30800.0  ==> 61600',
 '1500 White tea toothpaste: #4200.0  ==> 6300000',
 '5 SeaBuckthorn oil: #42000.0  ==> 210000',
 '5 Seabuckthorn Cordyceps: #29400.0  ==> 147000',
 '1 Seabuckthorn Sanitary Napkins: #125000.0  ==> 125000',
 '3 Calsium Solid Drink: #32000.0  ==> 96000',
 '2 H2O Hydrogen Rich Water Cup: #265000.0  ==> 530000',
 '2 Balance Cream: #30800.0  ==> 61600',
 '2 Energy Spray: #30800.0  ==> 61600']

In [36]:
print(
f"""
Angelo Products Received on DATE: 

QTY PRODUCT NAME    AMOUNT/UNIT TOTAL

""")
for i in re:
    print(i)
print('Total', sum_re)
print(f'Amount remaining: {14000000 - sum_re}')

Angelo Products Received on DATE:

QTY PRODUCT NAME    AMOUNT/UNIT TOTAL


5 Aloe Vera capsule: #16800.0  ==> 84000
10 Bamboo Patch: #14000.0  ==> 140000
2 Vigor Cream: #30800.0  ==> 61600
1500 White tea toothpaste: #4200.0  ==> 6300000
5 SeaBuckthorn oil: #42000.0  ==> 210000
5 Seabuckthorn Cordyceps: #29400.0  ==> 147000
1 Seabuckthorn Sanitary Napkins: #125000.0  ==> 125000
3 Calsium Solid Drink: #32000.0  ==> 96000
2 H2O Hydrogen Rich Water Cup: #265000.0  ==> 530000
2 Balance Cream: #30800.0  ==> 61600
2 Energy Spray: #30800.0  ==> 61600
Total 7816800
Amount remaining: 6183200